html, body {
  overflow-y: auto;           /* vẫn cho phép cuộn dọc */
  overflow-x: hidden;         /* ẩn cuộn ngang */
  -ms-overflow-style: none;   /* IE và Edge cũ */
  scrollbar-width: none;      /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

#root {
  overflow: visible;
}
